<div class="comments__item">
	<div class="panel panel-default">
		<div class="panel-body">
			<%= comment.content %>
		</div>
		<div class="panel-footer text-right">
			by <%= comment.author %> on <%= localize(comment.updated_at, :format => :long) %>
		</div>
	</div>
</div>